  * {
    box-sizing: border-box;
  }
  
  #flex-container {
    display: flex;
    background: rgb(0, 150, 208);
    margin: 30px 30px 30px 10px;
    text-align: center;
    overflow: auto;
  }
  
  #flex-container > div {
    width: 20%;
    background: rgb(241, 101, 41);
    border: 1px solid;
    padding: 0px;
    margin: 0px;
    transition: 0.3s;
  }
  
  #code-container {
    margin: 10px;
  }
  
  .controls {
    display: flex;
    margin: 10px;
  }
  
  .property-control {
    display: flex;
    justify-content: space-between;
    width: 250px;
  }
  
  .property-control input, .property-control select {
    width: 125px;
    margin-top: 5px;
    border: 1px solid rgb(0, 150, 208);
  }
  
  .property-control input {
    padding-left: 5px;
  }
  
  .property-control label {
    position: relative;
    align-self: center;
    color: #b22222;
  }
  
  .property-control label .property-tip {
    top: -5px;
    right: -16px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    border-radius: 100%;
    text-align: center;
    border-radius: 100%;
    color: #aaa;
    border: 1px solid #aaa;
    position: absolute;
  }
  
  .property-tip .tooltiptext {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s;
    visibility: hidden;
    width: 400px;
    font-size: 16px;
    top: -3px;
    left: 15px;
    background: rgb(210, 211, 255);
    text-align: justify;
    padding: 5px;
    border-radius: 10px;
  }
  
  .property-tip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltiptext ul {
    padding: 0 0 0 15px;
  }
  
  .property-control label .property-tip:hover {
    color: #000;
    border: 1px solid #000;
  }
  
  .controls > div {
    padding-right: 40px;
    min-width: 300px;
  }
  
  .current-element-control {
    display: none;
  }
  
  .tag {
    color: blue;
  }
  
  .att {
    color: orangered;
  }
  
  .zna {
    color: darkmagenta;
  }
  
  .sko {
    color: red;
  }